/*
button모양의 div를 정의
이벤트를 발생시키기 위해 사용
*/

.buttonDiv {
    background-color:lightgray;
    width:150px;
    height:70px;
    font-size:20px;
    border:none;
    border-radius:10px;
    margin: auto;
  }

  .buttonDivText {
    text-align: center;
    padding-top: 20px;
  }

  .editButton {
    display: inline-box;
    text-align: center;
    padding-top: 10px;
    background-color:white;
    width:100px;
    height:40px;
    font-size:20px;
    position: absolute;
    top: 10px;
    right: 6%;
    border:none;
    border-radius:10px;
  }

  .smallEditButtonShow {
    text-align: center;
    padding-top: 6px;
    display: inline-block;
    background-color:lightgrey;
    width:80px;
    height:30px;
    font-size:16px;
    border:none;
    border-radius:10px;
    position: absolute;
    right: 0%;
  }

  .smallEditButtonHide {
    display:none;
  }

  .selectEmail {
    position: absolute;
    right: 18%;
    height:30px;
    font-weight:bold;
  }

  .showAt {
    position: absolute;
    left: 56%;
    top: 25%;
  }